:root {
  --color-primary: #9257f2;
  --color-primary-dark: #752aef;
  --color-primary-light: #c2a0f8;
  --color-accent: #f31af7;

  --wx-black-color: #161616;
  --wx-gray-color: #2b2b2b;
  --wx-gray-black-color: #8c8c8c;
  --wx-white-color: #f9f9f9;
}
