@use "../../utils/" as *;
.wxfooter {
  &-area {
    border-top: 1px solid rgb(146, 87, 242, 0.15);
  }
  &-copyright {
    & p {
      color: var(--wx-white-color);
      margin: 0;
      font-size: 16px;
    }
  }
  &-socials {
    & a {
      height: 40px;
      width: 40px;
      font-size: 18px;
      line-height: 32px;
      border: 1px solid rgba(146, 87, 242, 0.15);
      color: var(--wx-white-color);
      padding: 5px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin-right: 3px;
    }
  }
}
